<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            @if (routeData.PageType == typeof(AttendanceTrackerFrontend.Pages.Login))  @* Replace with your actual Login page type *@
            {
                <RouteView RouteData="routeData" DefaultLayout="null" />
            }
            else
            {
                <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                    <NotAuthorized>
                        <p>You are not authorized to view this page.</p>
                        <a href="/login">Go to Login</a>
                    </NotAuthorized>
                </AuthorizeRouteView>
            }
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <h3>Page not found</h3>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
